extends base.pug


block content
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl, controls).video-screen
        div#videoControls
            button#play Play 
            button#mute Mute 
            input(type="range", step="0.1",value=0.5,  min="0",max="1")#volum
            div
                span#currenTime 00:00
                span  / 
                span#totalTime 00:00
            div 
                input(type="range", step="1",value="0",  min="0")#timeline
            div   
                button#fullScreen Enter Full Screen
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="댓글을 작성하세요.")
                button Add Comment
//-
    div.video__container
        span=video.hashtags
        small=video.title
        div.video__owner
            img(src="/" + loggedInUser.avatarUrl)
            div.video__des
                span
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                span 조회수 • #{video.meta.views}
            if String(video.owner._id) === String(loggedInUser._id)
                div.video__edit-btn
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                div.video__delete-btn
                    a(href=`${video.id}/delete`) Delete Video &rarr;
        div.video__sub
            h3=video.createdAt    
            p=video.description
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 